<!DOCTYPE html>
{% load static %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
	<title>UPAC Cinema</title>
</head>
<body>
	<header>
		<div>
			<a href="/" id="logo"><img src="{% static 'home/images/logo.png' %}" alt="UPAC Cinema"></a>
			<nav>
				<ul>
					<li><a href="/">Schedule</a></li>
					<li><a href="policies">FAQ / Policies</a></li>
					<li><a href="requests">Movie Archive / Requests</a></li>
					<li class="selected"><a href="feedback">Contact / Feedback</a></li>
					<li><a class=button href="login">Log In</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div id="body">
		<div id="contact" class="panel">
			<h1>Contact</h1>
			<div>
				<h2>Mailing List</h2>
				<p>upac-cinema@union.lists.rpi.edu</p>
			</div>
			<div>
				<h2>UPAC Cinema Officers</h2>
				<ul>
				<li><strong>Chairperson:</strong> {{ chair }}</li>
				<li><strong>Friday Night Coordinator:</strong> {{ friday }}</li>
				<li><strong>Saturday Night Coordinator:</strong> {{ saturday }}</li>
				<li><strong>Midweek Coordinator:</strong> {{ midweek }}</li>
				<li><strong>Repertory Coordinator:</strong> {{ rep }}</li>
				<li><strong>Publicity Coordinator:</strong> {{ publicity }}</li>
				<li><strong>Projectionists:</strong>
                {% for proj in projectionists %}
                    {% if proj != projectionists.last %}
                        {{ proj.name }},
                    {% else %}
                        {{ proj.name }}
                    {% endif %}
                {% endfor %}
                </li>
				<li><strong>Webmaster:</strong> {{ webmaster }}</li>
				</ul>
			</div>
		</div>
		<div id="feedback" class="panel">
			<h1>Anonymous Feedback</h1>
			<div>
				<p>Got something to say? Let us know!</p>
				<p>If you want us to respond, make sure to enter your name and email!</p>
			</div>
			<div>
				<form action="feedback" method="POST">
					<table>
						<tr><td>Name (Optional): </td><td><input type="text" value="" optional></td></tr>
						<tr><td>Email (Optional): </td><td><input type="text" value="" optional></td></tr>
					</table>
					<br>
					<label>Comments:</label><br>
					<textarea rows=10 cols=80></textarea><br><br>
					<button type="submit">Send Feedback</button>
				</form>
			</div>
		</div>
	</div>
	<footer>
		<div>
			<div class=connect>
				<span>Follow Us On</span>
				<ul>
					<!-- <li><a href="https://www.instagram.com/rpiunion/"><img src="{% static 'home/images/insta.png' %}" alt="insta"></a></li> -->
					<li><a href="https://www.facebook.com/UPACCinema/"><img src="{% static 'home/images/facebook.png' %}" alt="f"></a></li>
					<li><a href="https://twitter.com/UPACCinema/"><img src="{% static 'home/images/twitter.png' %}" alt="#"></a></li>
					<li><a href="https://reddit.com/user/UPACCinema."><img src="{% static 'home/images/reddit.png' %}" alt="r/"></a></li>
				</ul>
			</div>
			<div>
				<span>Email Us At</span>
				<address><p>upac-cinema@union.lists.rpi.edu</p></address>
			</div>
		</div>
	</footer>
</body>
</html>
