<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="UTF-8">
	<title>UPAC Cinema</title>
	<link rel="stylesheet" href="{% static 'home/header.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'home/footer.css' %}" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<a href="" id="logo"><img src="{% static 'home/images/logo.png' %}" alt="LOGO"></a>
			<ul>
				<li class="selected"><a href="">Schedule</a></li>
				<li><a href="policies">FAQ / Policies</a></li>
				<li><a href="requests">Movie Archive / Requests</a></li>
				<li><a href="feedback">Contact / Feedback</a></li>
				<li><a class=button href="login">Log In</a></li>
			</ul>
		</div>
	</div>
	<div id="body">
		<div class="flex-container">
			<div id="now-playing" class="panel">
				<h1>Now Playing</h1>
				<div>
					<h2>Solo: A Star Wars Story</h2>
					<div>
						<img src="{% static 'home/images/movie.png' %}" height="200"><br>
						<p><strong>Rating:</strong> R</p>
						<p><strong>Runtime:</strong> 94 minutes</p>
						<p><strong>Director:</strong> No Idea</p><br>
						<p>Someone does something that probably is important, but I don't 
						know. I haven't been paying close attention to the movies we show.</p>
					</div>
				</div>
			</div>
			<div>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/jPEYpryMp2s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="trailer"></iframe>
			</div>
		</div>
		<div class="flex-container">
			<div id="coming-soon" class="panel">
				<div>
					<p style="height:452px;">
					What goes here is probably the most important content of all. It will most 
					likely be a list of all the movies we have in the future. It might have a 
					few other things, but I'm too tired to think of things at the moment. My 
					recommendation is a slideshow of future movies. That seems appropriate, given 
					that that is what people have come to expect from our website. 
				</div>
			</div>
			<div id="calendar" class="panel">
				<h1>Calendar</h1>
				<div>
					<iframe src="https://teamup.com/ks5cqcpedbd85z849u?showLogo=0&showTitle=0&disableSidePanel=1" frameborder="0" height="400" width="400"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div class=connect>
				<span>Follow Us On</span>
				<ul>
					<li><a href="https://www.instagram.com/rpiunion/"><img src="{% static 'home/images/insta.png' %}" alt="insta"></a></li>
					<li><a href="https://www.facebook.com/UPACCinema/"><img src="{% static 'home/images/facebook.png' %}" alt="f"></a></li>
					<li><a href="https://twitter.com/UPACCinema/"><img src="{% static 'home/images/twitter.png' %}" alt="#"></a></li>
					<li><a href="https://reddit.com/user/UPACCinema/"><img src="{% static 'home/images/reddit.png' %}" alt="r/"></a></li>
				</ul>
			</div>
			<div>
				<span>Email Us At</span>
				<p>upac-cinema@union.lists.rpi.edu</p>
			</div>
		</div>
	</div>
</body>
</html>
