<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="UTF-8">
	<title>UPAC Cinema</title>
	<link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
</head>
<body>
	<header>
		<div>
			<a href="" id="logo"><img src="{% static 'home/images/logo.png' %}" alt="LOGO"></a>
			<nav>
				<ul>
					<li class="selected"><a href="">Schedule</a></li>
					<li><a href="policies">FAQ / Policies</a></li>
					<li><a href="requests">Movie Archive / Requests</a></li>
					<li><a href="feedback">Contact / Feedback</a></li>
					<li><a class=button href="login">Log In</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div id="body">
		<div class="flex-container">
			<div id="now-playing" class="panel">
				<h1>Now Playing</h1>
				<div>
					<h2>{{ showings.all.first.title }}</h2>
					<div>
						<img src='{{ showings.all.first.poster.url }}' height="200"><br>
						<p><strong>Rating:</strong> {{ showings.all.first.rating }}</p>
						<p><strong>Runtime:</strong> {{ showings.all.first.runtime }} minutes</p>
						<p><strong>Director:</strong> {{ showings.all.first.director }}</p><br>
						<p>{{ showings.all.first.description }}</p>
					</div>
				</div>
			</div>
			<div>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/jPEYpryMp2s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="trailer"></iframe>
			</div>
		</div>
		<div class="flex-container">
			<div id="coming-soon" class="panel">
				<h1>Coming Soon</h1>
				<div class="slideshow-container" style="height:400px">
					<div class="slide">
						<h2>Wonder</h2>
						<p>Feb 16: 7PM, 9:30PM, 12AM</p>
						<img src="images/Wonder_Big.jpg">
					</div>
					<div class="slide">
						<h2>Brick</h2>
						<p>Feb 17: 7PM, 9:30PM, 12AM</p>
						<img src="images/Brick_backdrop.jpg">
					</div>
					<div class="slide">
						<h2>Coco</h2>
						<p>Feb 23: 7PM, 9:30PM, 12AM</p>
						<img src="images/Coco_backdrop.jpg">
					</div>
					<div class="slide">
						<h2>Reservoir Dogs</h2>
						<p>Feb 24: 7PM, 9:30PM, 12AM</p>
						<img src="images/Reservoir_Dogs_backdrop.jpg">
					</div>
					<div class="slide">
						<h2>The Shape of Water</h2>
						<p>Mar 2: 7PM, 9:30PM</p>
						<img src="images/The_Shape_of_Water_backdrop.jpg">
					</div>
					<script>
					var slideIndex = 0;
					showSlides();
					function showSlides() {
						var i;
						var slides = document.getElementsByClassName("slide");
						for(i = 0; i < slides.length; i++) {
							slides[i].style.display = "none";
						}
						slides[slideIndex].style.display = "block";
						slideIndex++;
						if(slideIndex >= slides.length) {slideIndex = 0;}
						setTimeout(showSlides, 2000);
					}
					</script>
					<noscript>
					<ul>
						<li><strong>Wonder</strong> (Feb 16)</li>
						<li><strong>Brick</strong> (Feb 17)</li>
						<li><strong>Coco</strong> (Feb 23)</li>
						<li><strong>Reservoir Dogs</strong> (Feb 24)</li>
						<li><strong>The Shape of Water</strong> (Mar 2)</li>
					</ul>
					</noscript>
				</div>
			</div>
			<div id="calendar" class="panel">
				<h1>Calendar</h1>
				<div>
					<iframe src="https://teamup.com/ks5cqcpedbd85z849u?showLogo=0&showTitle=0&disableSidePanel=1" frameborder="0" height="400" width="400"></iframe>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div>
			<div class=connect>
				<span>Follow Us On</span>
				<ul>
					<!-- <li><a href="https://www.instagram.com/rpiunion/"><img src="{% static 'home/images/insta.png' %}" alt="insta"></a></li> -->
					<li><a href="https://www.facebook.com/UPACCinema/"><img src="{% static 'home/images/facebook.png' %}" alt="f"></a></li>
					<li><a href="https://twitter.com/UPACCinema/"><img src="{% static 'home/images/twitter.png' %}" alt="#"></a></li>
					<li><a href="https://reddit.com/user/UPACCinema/"><img src="{% static 'home/images/reddit.png' %}" alt="r/"></a></li>
				</ul>
			</div>
			<div>
				<span>Email Us At</span>
				<address><p>upac-cinema@union.lists.rpi.edu</p></address>
			</div>
		</div>
	</footer>
</body>
</html>
