<!DOCTYPE html>
{% load static %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
	<title>UPAC Cinema</title>
</head>
<body>
	<header>
		<div>
			<a href="/" id="logo"><img src="{% static 'home/images/logo.png' %}" alt="LOGO"></a>
			<nav>
				<ul>
					<li><a href="/">Schedule</a></li>
					<li><a href="policies">FAQ / Policies</a></li>
					<li><a href="requests">Movie Archive / Requests</a></li>
					<li><a href="feedback">Contact / Feedback</a></li>
					<li><a class=button href="login">Log In</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div id="body">
		<div id="login" class="panel">
			<h1>Officer Login</h1>
			<div>
				<form>
					<table>
						<tr><td>Username: </td><td><input type="text" name="username"></td></tr>
						<tr><td>Password: </td><td><input type="password" name="password"></td></tr>
						<br>
						<tr><td colspan=2>
							<input type="checkbox">Remember me next time 
							<button type="submit">Login</button>
						</td></tr>
					</table>
				</form>
				<br>
				<span><a>Forgot Password?</a></span><br><br>
				<span>Accounts are available only to UPAC Cinema officers</span><br><br>
			</div>
		</div>
	</div>
	<footer>
		<div>
			<div class=connect>
				<span>Follow Us On</span>
				<ul>
					<!-- <li><a href="INSTAGRAM"><img src="{% static 'home/images/insta.png' %}" alt="insta"></a></li> -->
					<li><a href="https://www.facebook.com/UPACCinema"><img src="{% static 'home/images/facebook.png' %}" alt="f"></a></li>
					<li><a href="https://twitter.com/UPACCinema"><img src="{% static 'home/images/twitter.png' %}" alt="#"></a></li>
					<li><a href="https://reddit.com/user/UPACCinema"><img src="{% static 'home/images/reddit.png' %}" alt="r/"></a></li>
				</ul>
			</div>
			<div>
				<span>Email Us At</span>
				<address><p>upac-cinema@union.lists.rpi.edu</p></address>
			</div>
		</div>
	</footer>
</body>
</html>
