<!DOCTYPE html>
{% load static %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'home/header.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'home/footer.css' %}" type="text/css">
	<title>UPAC Cinema</title>
</head>
<body>
	<div id="header">
		<div>
			<a href="/" id="logo"><img src="{% static 'home/images/logo.png' %}" alt="LOGO"></a>
			<ul>
				<li><a href="/">Schedule</a></li>
				<li class="selected"><a href="policies">FAQ / Policies</a></li>
				<li><a href="requests">Movie Archive / Requests</a></li>
				<li><a href="feedback">Contact / Feedback</a></li>
				<li><a class=button href="login">Log In</a></li>
			</ul>
		</div>
	</div>
	<div id="body">
		<div id="faq" class="panel">
			<h1>Frequently Asked Questions</h1>
			<div>
				<a href="#policies-bylaws">Jump to Policies &amp; Bylaws</a>
				<ol>
					<li><a href="#faq1">What is UPAC? What is UPAC Cinema?</a></li>
					<li><a href="#faq2">How do you pronounce UPAC?</a></li>
					<li><a href="#faq3">What is UPAC Cinema's relationship with other UPAC organizations?</a></li>
					<li><a href="#faq4">What is UPAC Cinema's relationship with other Rensselaer Union clubs?</a></li>
					<li><a href="#faq5">On what kind of media are your movies shown?</a></li>
					<li><a href="#faq6">What kind of equipment do you use?</a></li>
					<li><a href="#faq7">What is a 'film series'?</a></li>
					<li><a href="#faq8">How is UPAC Cinema funded?</a></li>
					<li><a href="#faq9">What is the operating budget of UPAC Cinema, and what does it cover?</a></li>
					<li><a href="#faq10">Are UPAC Cinema members paid?</a></li>
					<li><a href="#faq11">On what days and times are movies shown?</a></li>
					<li><a href="#faq12">How much does admission cost?</a></li>
					<li><a href="#faq13">What is a Sneak Preview?</a></li>
					<li><a href="#faq14">What are the jobs of UPAC Cinema members?</a></li>
					<li><a href="#faq15">What are the benefits of being a UPAC Cinema member?</a></li>
					<li><a href="#faq16">How can I join UPAC Cinema?</a></li>
					<li><a href="#faq17">What is involved in being a projectionist?</a></li>
					<li><a href="#faq18">How does one become a qualified projectionist?</a></li>
					<li><a href="#faq19">What's with the "Whoop"ing during trailers?</a></li>
					<li><a href="#faq20">Why don't you sell popcorn at concessions?</a></li>
					<li><a href="#faq21">What's that game you're playing?</a></li>
					<li><a href="#faq22">Did it really bleed for days?</a></li>
					<li><a href="#faq23">Do you really need a resident of Bray 121?</a></li>
				</ol>
			</div>
			<div id=faq1>
				<h2>What is UPAC? What is UPAC Cinema?</h2>
				<p>UPAC is an abbreviation for the Union Programming and Activities Committee. It is a standing committee of the Rensselaer Union Executive Board. Its purpose is to provide the campus community with a variety of entertainment events.</p>
				<p>UPAC Cinema is a subcommittee of UPAC. It exists as a student-managed and student-operated second run 35mm movie theatre. UPAC Cinema's purpose is to provide the Rensselaer community with motion picture entertainment.</p>
				<p>Other subcommittees of UPAC include UPAC Comedy, UPAC Sound, UPAC Lights, UPAC Concerts, Grand Marshall Week, Winter Carnival, and Red Army.</p>
			</div>
			<div id=faq2>
				<h2>How do you pronounce UPAC?</h2>
				<p>UPAC is pronounced "You Pack". </p>
				<p>The pronunciation actually reflects our real purpose. UPAC is really a shipping company. Providing entertainment to Rensselaer is only a front.</p>
			</div>
			<div id=faq3>
				<h2>What is UPAC Cinema's relationship with other UPAC organizations?</h2>
				<p>Historically, the seperate UPAC organizations have been run very independently. While there is some cooperation between the subcommittees (UPAC Lights and UPAC Sound often provide their services to the same event, for example) they are organized, staffed, and managed by wholly different groups of students. There is, of course, nothing preventing any particular student from joining more than one subcommittee.</p>
				<p>In recent years, an effort has been made to more closely align the different subcommittees. UPAC General (also known as the Programming Board) has been formed, comprised of the chairperson of each subcommittee. UPAC General's goals include coordinating the different UPACs to ensure that each group has what it needs for its programs, as well as running the After Dark Series, its own set of programs. Even with the existence of UPAC General, however, each organization's operations remain distinct.</p>
			</div>
			<div id=faq4>
				<h2>What is UPAC Cinema's relationship with other Rensselaer Union clubs?</h2>
				<p>UPAC Cinema offers all Union recognized or affiliated clubs the opportunity to sponsor a UPAC Cinema movie. This provides the club with the ability to advertise or promote its events, as well as a fundraiser. Most clubs take the "50-50 option" when sponsoring a movie, although that option is limited to Union funded clubs. This means that UPAC Cinema will front the cost of the film, shipping, and projectionist, and the club will provide the manpower (other than a projectionist). If the movie makes a profit, UPAC Cinema and the club split those profits 50-50. If the movie does not make a profit, the loss is eaten solely by UPAC Cinema, and the club is not responsible.</p>
				<p>Daring clubs (and any organizations not Union funded) can take the "Full option" instead. This means that the club will front the full cost of the movie including film, shipping, projectionist, and manpower. Should the movie make a profit, all of it goes to that club. If it does not, the club will be at a loss, and UPAC Cinema will not be responsible.</p>
				<p>Regardless of the option chosen, a sponsoring club can sell concessions during the movie. Any profits on the sale of concessions will belong to the club, regardless of the profitability of the film itself. If the club chooses not to do so, UPAC Cinema will sell its own concessions instead.</p>
				<p>If your organization wishes to sponsor a movie with UPAC Cinema, you can do so <a href="requests#request-form">here</a>.</p>
			</div>
			<div id=faq5>
				<h2>On what kind of media are your movies shown?</h2>
				<p>UPAC Cinema shows movies on 35mm film, the standard in the motion picture industry. On rare occasions, e.g. special events located outside the theatre or very old or hard to locate films, we will use 16mm films and projectors. We do not simply project DVDs or VHS tapes.</p>
			</div>
			<div id=faq6>
				<h2>What kind of equipment do you use?</h2>
				<p>Our projectors are two standard 35mm projector assemblies, affectionately nicknamed "Goblin" and "One-Eye". Our sound system is a Dolby CP65 Cinema Processor. Every year, UPAC Cinema requests a sum of money to be put into an account which will eventually be used to upgrade the sound system.</p>
			</div>
			<div id=faq7>
				<h2>What is a 'film series'?</h2>
				<p>A film series is a category of movies that UPAC Cinema shows. Each series is managed and operated slightly differently. There are currently four film series in operation:</p>
				<p>The Friday films are, unsurprisingly, shown every Friday night. These are the most recent, most popular 2nd run films we can get a hold of.</p>
				<p>Saturday films, are shown approximately half of the Saturdays. These are films that are sponsored by other Union clubs and organizations, both as a fundraiser and a means of advertising for the sponsoring club. Clubs are allowed to choose any movies they want for this series - provided that UPAC Cinema has not already chosen it within the past four years.</p>
				<p>Midweek films, despite the name, happen approximately one third of Saturdays. The reason they are called Midweek films is that they used to occur on Wednesdays. Midweek films are what we consider "New Classics" i.e. films that could have been Friday films if they had been shown a few years earlier.</p>
				<p>Repertory Films are movies that tend to appear to a slightly smaller crowd. These include cult classics, art films, and foreign films.</p>
				<p>A different elected officer is in charge of each film series. The Friday Night Coordinator, Saturday Night Coordinator, Midweek Coordinator, and Repertory Coordinator are in charge of the Friday films, the Saturday films, the Midweek films, and the Repertory films respectively. To see the officers currently in each position, see <a href="feedback#contact">here</a>.</p>
			</div>
			<div id=faq8>
				<h2>How is UPAC Cinema funded?</h2>
				<p>UPAC Cinema is subsidized by the Rensselaer Union. Each year, UPAC Cinema, along with all other Union recognized clubs, submits a budget proposal to the Rensselaer Union Executive Board detailing our expected costs and income. The Executive Board then decides how much money to give to UPAC Cinema for the coming year. For fiscal year 2019, the subsidy for UPAC Cinema was $41,281.00. In addition to the financial contribution of the Union, UPAC Cinema uses its income from the ticket sales and the selling of concessions to help pay its operating costs. Expected income for fiscal year 2019 is $13,955.00.</p>
				<p>For more information about the budgeting process, you can check out the <a href="https://union.rpi.edu/finance" target="_blank" rel="noopener noreferrer">Union Annual Report</a>.
			</div>
			<div id=faq9>
				<h2>What is the operating budget of UPAC Cinema, and what does it cover?</h2>
				<p>For fiscal year 2019, UPAC Cinema's budget is approximately $55,236.00. The line items which this amount covers include rental of about 52 films, shipping fees for all films, trailers and posters for as many of our movies as we can purchase, publicity materials such as the weekly posters hung on campus notice boards and semesterly schedules printed four times per year, and projectionists payroll.</p>
				<p>All activity-fee paying students are entitled to view the budgets of any Union recognized club. To see UPAC Cinema's, or any other club's, budget, you can contact the Rensselaer Union Business Administrator at <a href="mailto:rpiunion@rpi.edu?subject=Request%20for%20Budget%20Information%20on%20Rensselaer%20Union%20Recognized%20Club">rpiunion@rpi.edu</a> or using phone number 518-276-6505.</p>
			</div>
			<div id=faq10>
				<h2>Are UPAC Cinema members paid?</h2>
				<p>Projectionists are the only paid positions in UPAC Cinema. These are students who spend between one and three semesters training to learn how to operate the projection equipment to show UPAC Cinema films. They are paid an hourly rate for the time they spend projecting each film. Each film is projected by one qualified projectionist, and possibly a projectionist in training. The number of projectionists in UPAC Cinema varies greatly from as few as 2 to as many as 15. To see the full list of qualified projectionsts, click <a href="feedback#contact">here</a>.</p>
				<p>All other members of UPAC Cinema are volunteers. They help to operate UPAC Cinema's events for fun and for a small set of member benefits. They do not receive any financial compensation from UPAC Cinema or from the Union.</p>
			</div>
			<div id=faq11>
				<h2>On what days and times are movies shown?</h2>
				<p>Movies are shown every Friday and Saturday evening throughout the Fall and Spring semesters. No movies are shown during school vacation weeks. Standard showtimes are 7pm, 9:30pm, and 12am. These times may be altered to accomodate for longer films.</p>
				<p>Throughout the academic year, UPAC Cinema tries to hold a few special events movies at nonstandard times. This includes a special GM Week showing, an end of academic year showing, and Sneak Previews. Additionally, UPAC Cinema shows a monthly movie during the Summer semester.</p>
				<p>UPAC Cinema's current schedule, including date and times, can always be found at <a href="/">https://cinema.union.rpi.edu/</a>. We also advertise our showtimes via weekly posters hung around campus, one-sheet posters in the DCC and Union, ads it the Polytechnic, and on the RPInfo Campus Events and RPI Union Events calendars.</p>
			</div>
			<div id=faq12>
				<h2>How much does admission cost?</h2>
				<p>A single ticket for one showing of a UPAC Cinema film is $2.50. Only cash is accepted for single tickets. UPAC Cinema also sells bulk passes which cost $25 and are good for 13 shows. Bulk passes do not expire. They can be paid for with either cash or, if you are a registered student at RPI, by charging the cost to your student bursar account. Once purchased, tickets are non-refundable.</p>
			</div>
			<div id=faq13>
				<h2>What is a Sneak Preview?</h2>
				<p>Occassionally, a movie studio wants to get the public talking about an upcoming film. One way they do this is by releasing the film to a limited number of locations, approxmiately one week before its national release. UPAC Cinema usually receives one or two of these sneak previews each year. Because the film studio provides this to increase their own advertising, there is no cost for admission. A sneak preview is shown only once, generally on a Tuesday at 9:00 PM. Passes are given out at the Union Admin office a week prior to the film. A pass does not guarantee admission, thus for popular sneak previews it is recommended that you arrive well in advance of the show. (Some customers have been known to arrive 3 hours early... or more).</p>
			</div>
			<div id=faq14>
				<h2>What are the jobs of UPAC Cinema members?</h2>
				<p>There are four main jobs available to all general members of UPAC Cinema: selling tickets, ripping tickets, selling concessions, and security. In addition to thes positions, a member can elect to become a Projectionist-in-Training (PIT). PITs work with Qualified Projectionists, learning how to oeprate the projection equipment. The training process generally lasts between one and three semesters. When the qualified projectionists believe a PIT is ready, the PIT is tested. If the PIT passes, he or she becomes a qualified projectionist.</p>
				<p>Members who desire a deeper involvement in UPAC Cinema can run for an officer position. Officers are elected at the end of the fall semester. Officers have additional duties and responsibilities beyond those of general members.</p>
			</div>
			<div id=faq15>
				<h2>What are the benefits of being a UPAC Cinema member?</h2>
				<p>All active regular member are entitled to member benefits. These benefits include 25&cent; off concessions while working, free food - generally pizza - on nights they work, free admission to all UPAC Cinema movies, and entry into the semesterly poster lottery.</p>
				<p>Projectionists, in addition, are paid to project UPAC Cinema movies.</p>
			</div>
			<div id=faq16>
				<h2>How can I join UPAC Cinema?</h2>
				<p>The first step to becoming a member of UPAC Cinema is to become a member of the Rensselaer Union. To be a member of the Rensselaer Union, you must be a registered student of Rensselaer Polytechnic Institute and have paid the Rensselaer Union Activity Fee for that semester.</p>
				<p>After that, joining is very easy. UPAC Cinema will have a table at the annual Activities Fair. There, you will be notified of the date and time of our first meeting. If you cannot make the Activities Fair, or you want to join after the fair, simply come to any of our movies in DCC 308, and express your interest in joining.</p>
				<p>To become an active member, you must attend and staff at least 8 distinct showtimes for at least 4 movies, one of which must be a midnight or 1am show. You cannot work security for more than two of those shows.</p>
			</div>
			<div id=faq17>
				<h2>What is involved in being a projectionist?</h2>
				<p>Some of the duties include assembling the films from several small reels onto two larger reels, projecting a test-run, or preview, of each of your movies, recording statistics such as movie length, film quality, changeover locations, etc; projecting all three showings of the film during the night, disassembling the film back onto the smaller reels, and training new Projectionists-in-Training.</p>
			</div>
			<div id=faq18>
				<h2>How does one become a qualified projectionist?</h2>
				<p>The process towards becoming a qualified projectionist starts with talking to a current one. They can explain to you everything involved in the job. Once you do so, you can become a projectionist-in-training (PIT).</p>
				<p>As projectionist-in-training, you should fulfill all responsibilities given to you by the supervising qualified projectionist. This is to help you learn how to operate the projection equipment. The extent to which you run the show is at the qualified projectionist's discretion. The training process generally lasts one to three semesters.</p>
				<p>After sufficient training, a projectionist-in-training can discuss becoming a qualified projectionist with the Head Qualified Projectionist. The Head Qualified Projectionist will then test you for your understanding of the mechanical and electrical workings of the projector, the sound cabinet, and the theater. If you pass, you become a qualified projectionist, subject to approval by a majority vote of the current qualified projectionists.</p>
			</div>
			<div id=faq19>
				<h2>What's with the "Whoop"ing during trailers?</h2>
				<p>This is a long standing tradition in UPAC Cinema. Some reports have the tradition going back as far as 1984. If we have any trailers for upcoming movies, we show them before the feature presentation. The very short tags that precede the trailers have a disturbingly catchy jingle. At one moment during this tag, a voice seems to shout "WHOOP-WHOOP-WHOOP". Shortly after these tags came into use, UPAC Cinema customers started chanting along with the "WHOOP"s. Thus a tradition was born.</p>
				<p>Should you ever come to a less popular show, you may hear that the "WHOOP"s are still part of the sound track in the trailer tag.</p>
			</div>
			<div id=faq20>
				<h2>Why don't you sell popcorn at concessions?</h2>
				<p>Very simple. UPAC Cinema members have to clean up after our customers after each show. To clean up popcorn, we would have to take a broom to every level of DCC 308, instead of just walking up and down the stairs picking up candy wrappers and cans and bottles. Of course, there is nothing stopping you from bringing your own popcorn to the theater.</p>
			</div>
			<div id=faq21>
				<h2>What's that game you're playing?</h2>
				<p>We play a variety of games in the hours between needing to sell tickets. At any given moment, you may see ups playing Arcadium Quest, Bang, Citadels, Codenames, King of Tokyo, Munchkin, Sentinels, Ticket to Ride, Twilight Struggle, or any other game we might try. If you're not familiar with whatever game we're playing, feel free to stop and ask us about it.</p>
			</div>
			<div id=faq22>
				<h2>Did it really bleed for days?</h2>
				<p>Technically, yes. However, it only bled for about an hour. Unfortunately, it was near midnight on a Friday when it started bleeding, and didn't stop until it had turned to Saturday. But, for all intents and purposes, no <em>it did not bleed for days</em>.</p>
				<p>If you want to understand this one, you'll have to stop by and ask us about it.</p>
			</div>
			<div id=faq23>
				<h2>Do you really need a resident of Bray 121?</h2>
				<p>Yes, we require that at least one of the residents of Bray 121 join UPAC Cinema each academic year. If you are one of the residents, you should discuss with your roommate about which one of you should join, because we will be after you.</p>
			</div>
		</div>
		<div id="policies-bylaws" class="panel">
			<h1>Policies &amp; Bylaws</h1>
			<div>
				<a href="bylaws.pdf">Click to Download Bylaws</a>
			</div>
			<div>
				<h2>Alcohol Policy</h2>
				<p>The possession or consumption of alcohol within the DCC at any time is prohibited.</p>
				<p>All alcohol brought into the building by patrons must be confiscated and disposed of properly, i.e. by dumping it down the sink or throwing it in the garbage.</p>
				<p>While UPAC Cinema is in operation, we are responsible for enforcing this policy. Thus, regardless of whether someone is a UPAC Cinema patron or not, we are responsible for removing any alcohol from them.</p>
				<p>Any person who does not present his or her alcohol upon request shall be reported to RPI Public Safety.</p>
			</div>
			<div>
				<h2>Sneak Preview Policy</h2>
				<p>Movie studios like to get advanced word-of-mouth publicity for the movies, so they arrange to have free previews given. UPAC Cinema arranges with a company to bring a preview to show to the RPI community.</p>
				<p>To ensure that we have a full theater, we hand out more admission passes than we have seats. Thus, a pass does not guarantee admission. When you show up to a preview, you will be asked to exchange your pass for a ticket. Once you have a ticket, you are guaranteed a seat. Quite simply, a pass does not mean you will receive a seat. However, it does mean you will be seated before those without passes.</p>
				<p>The timeline for a sneak preview goes like this:</p>
				<ul>
					<li><strong>8:00 PM:</strong> UPAC Cinema personnel arrive.</li>
					<li><strong>8:30 PM:</strong> UPAC Cinema begins to exchange passes for tickets. Concessions sales begin.</li>
					<li><strong>8:45 PM:</strong> Those with tickets are allowed into the theater, at the discretion of the projectionist.</li>
					<li><strong>8:50 PM:</strong> UPAC Cinema begins to give tickets to those without passes.</li>
					<li><strong>8:55 PM:</strong> Projectionist explains studio's prescreening policy to customers.</li>
					<li><strong>9:00 PM:</strong> Movie starts!</li>
				</ul>
				<p>Before the movie starts, the projectionist will ask the attendees to all turn off their cellphones. Security will be watching the audience to ensure that there is no recording taking place. <em>If they believe that you may be recording, regardless of whether you actually are, you will be asked to leave.</em> Refusal can lead to judicial action.</p>
				<p>We'd also appreciate it if you fill out a survery when available. The studio collects them, and based on our attendance and the number of respondents, we get a chance at hosting another preview. This has allowed us to host as many as 5 sneak previews in one semester. Receiving posters and other promotional items will be conditional upon you filling out the survey.</p>
			</div>
			<div>
				<h2>Refund Policy</h2>
				<p>UPAC Cinema does not give cash refunds for any of our shows. Should circumstances force the cancellation of one of our shows, customers will be entitled to receive one free ticket to any future UPAC Cinema movie, including a later showing of the cancelled film if applicable, upon exchange of their ticket stubs at the ticket desk.</p>
				<p>Any customer asked to leave the theater by UPAC Cinema staff, RPI Public Safety, or Troy Police as a result of disruptive behavior shall not be entitled to any refund or exchange.</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div class=connect>
				<span>Follow Us On</span>
				<ul>
					<li><a href="https://www.instagram.com/rpiunion/"><img src="{% static 'home/images/insta.png' %}" alt="insta"></a></li>
					<li><a href="https://www.facebook.com/UPACCinema/"><img src="{% static 'home/images/facebook.png' %}" alt="f"></a></li>
					<li><a href="https://twitter.com/UPACCinema/"><img src="{% static 'home/images/twitter.png' %}" alt="#"></a></li>
					<li><a href="https://reddit.com/user/UPACCinema/"><img src="{% static 'home/images/reddit.png' %}" alt="r/"></a></li>
				</ul>
			</div>
			<div>
				<span>Email Us At</span>
				<p>upac-cinema@union.lists.rpi.edu</p>
			</div>
		</div>
	</div>
</body>
</html>
