<!DOCTYPE html>
{% load static %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'home/header.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'home/footer.css' %}" type="text/css">
	<title>UPAC Cinema</title>
</head>
<body>
	<div id="header">
		<div>
			<a href="/" id="logo"><img src="{% static 'home/images/logo.png' %}" alt="LOGO"></a>
			<ul>
				<li><a href="/">Schedule</a></li>
				<li class="selected"><a href="policies">FAQ / Policies</a></li>
				<li><a href="requests">Movie Archive / Requests</a></li>
				<li><a href="feedback">Contact / Feedback</a></li>
				<li><a class=button href="login">Log In</a></li>
			</ul>
		</div>
	</div>
	<div id="body">
		<div id="faq" class="panel">
			<h1>Frequently Asked Questions</h1>
			<div>
				<a href="#bylaws">Jump to Policies & Bylaws</a>
				<ol>
					<li><a href="#faq1">What is UPAC? What is UPAC Cinema?</a></li>
					<li><a href="#faq2">How do you pronounce UPAC?</a></li>
					<li><a href="#faq3">What is UPAC Cinema's relationship with other UPAC organizations?</a></li>
					<li><a href="#faq4">What is UPAC Cinema's relationship with other Rensselaer Union clubs?</a></li>
					<li><a href="#faq5">On what kind of media are your movies shown?</a></li>
					<li><a href="#faq6">What kind of equipment do you use?</a></li>
					<li><a href="#faq7">What is a 'film series'?</a></li>
					<li><a href="#faq8">How is UPAC Cinema funded?</a></li>
					<li><a href="#faq9">What is the operating budget of UPAC Cinema, and what does it cover?</a></li>
					<li><a href="#faq10">Are UPAC Cinema members paid?</a></li>
					<li><a href="#faq11">On what days and times are movies shown?</a></li>
					<li><a href="#faq12">How much does admission cost?</a></li>
					<li><a href="#faq13">What is a Sneak Preview?</a></li>
					<li><a href="#faq14">What are the jobs and benefits of UPAC Cinema members?</a></li>
					<li><a href="#faq15">How can I join UPAC Cinema?</a></li>
					<li><a href="#faq16">What is involved in being a projectionist?</a></li>
					<li><a href="#faq17">What's with the "Whoop"ing during trailers?</a></li>
					<li><a href="#faq18">Why don't you sell popcorn at concessions?</a></li>
					<li><a href="#faq19">What's that game you're playing?</li>
					<li><a href="#faq20">Why aren't you playing Mahjong correctly?</a></li>
					<li><a href="#faq21">Did it really bleed for days?</a></li>
					<li><a href="#faq22">Do you really need a resident of Bray 121? What for?</a></li>
					<li><a href="#faq23">How can I get in touch with UPAC Cinema?</a></li>
					<li><a href="#faq24">What is UPAC Cinema's refund policy?</a></li>
				</ol>
			</div>
			<div id=faq1>
				<h2>What is UPAC? What is UPAC Cinema?</h2>
				<p>UPAC is an abbreviation for the Union Programming and Activities Committee. It is a standing committee of the Rensselaer Union Executive Board. Its purpose is to provide the campus community with a variety of entertainment events.</p>
				<p>UPAC Cinema is a subcommittee of UPAC. It exists as a student-managed and student-operated second run 35mm movie theatre. UPAC Cinema's purpose is to provide the Rensselaer community with motion picture entertainment.</p>
				<p>Other subcommittees of UPAC include UPAC Comedy, UPAC Sound, UPAC Lights, UPAC Concerts, Grand Marshall Week, Winter Carnival, and Red Army.</p>
			</div>
			<div id=faq2>
				<h2>How do you pronounce UPAC?</h2>
				<p>UPAC is pronounced "You Pack". </p>
				<p>The pronunciation actually reflects our real purpose. UPAC is really a shipping company. Providing entertainment to Rensselaer is only a front.</p>
			</div>
			<div id=faq3>
				<h2>What is UPAC Cinema's relationship with other UPAC organizations?</h2>
				<p>Historically, the seperate UPAC organizations have been run very independently. While there is some cooperation between the subcommittees (UPAC Lights and UPAC Sound often provide their services to the same event, for example) they are organized, staffed, and managed by wholly different groups of students. There is, of course, nothing preventing any particular student from joining more than one subcommittee.</p>
				<p>In recent years, an effort has been made to more closely align the different subcommittees. UPAC General (also known as the Programming Board) has been formed, comprised of the chairperson of each subcommittee. UPAC General's goals include coordinating the different UPACs to ensure that each group has what it needs for its programs, as well as running the After Dark Series, its own set of programs. Even with the existence of UPAC General, however, each organization's operations remain distinct.</p>
			</div>
			<div id=faq4>
				<h2>What is UPAC Cinema's relationship with other Rensselaer Union clubs?</h2>
				<p>UPAC Cinema offers all Union recognized or affiliated clubs the opportunity to sponsor a UPAC Cinema movie. This provides the club with the ability to advertise or promote its events, as well as a fundraiser. Most clubs take the "50-50 option" when sponsoring a movie, although that option is limited to Union funded clubs. This means that UPAC Cinema will front the cost of the film, shipping, and projectionist, and the club will provide the manpower (other than a projectionist). If the movie makes a profit, UPAC Cinema and the club split those profits 50-50. If the movie does not make a profit, the loss is eaten solely by UPAC Cinema, and the club is not responsible.</p>
				<p>Daring clubs (and any organizations not Union funded) can take the "Full option" instead. This means that the club will front the full cost of the movie including film, shipping, projectionist, and manpower. Should the movie make a profit, all of it goes to that club. If it does not, the club will be at a loss, and UPAC Cinema will not be responsible.</p>
				<p>Regardless of the option chosen, a sponsoring club can sell concessions during the movie. Any profits on the sale of concessions will belong to the club, regardless of the profitability of the film itself. If the club chooses not to do so, UPAC Cinema will sell its own concessions instead.</p>
				<p>If your organization wishes to sponsor a movie with UPAC Cinema, you can do so <a href="requests#clubfilm-instructions">here</a>.</p>
			</div>
			<div id=faq5>
				<h2>On what kind of media are your movies shown?</h2>
				<p>UPAC Cinema shows movies on 35mm film, the standard in the motion picture industry. On rare occasions (special events located outside the theatre, or very old or hard to locate films), we will use 16mm films and projectors. We do not simply project DVDs or VHS tapes.</p>
			</div>
		</div>
		<div id="bylaws" class="panel">
			<h1>Policies & Bylaws</h1>
			<div>
				<a href="bylaws.pdf">Click to view PDF</a>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div class=connect>
				<span>Follow Us On</span>
				<ul>
					<li><a href="https://www.instagram.com/rpiunion/"><img src="{% static 'home/images/insta.png' %}" alt="insta"></a></li>
					<li><a href="https://www.facebook.com/UPACCinema/"><img src="{% static 'home/images/facebook.png' %}" alt="f"></a></li>
					<li><a href="https://twitter.com/UPACCinema/"><img src="{% static 'home/images/twitter.png' %}" alt="#"></a></li>
					<li><a href="https://reddit.com/user/UPACCinema/"><img src="{% static 'home/images/reddit.png' %}" alt="r/"></a></li>
				</ul>
			</div>
			<div>
				<span>Email Us At</span>
				<p>upac-cinema@union.lists.rpi.edu</p>
			</div>
		</div>
	</div>
</body>
</html>
