#header {
	height: 128px;
	margin: 14px 16px;
	padding: 0px;
	background: #404040;
}
#header div {
	margin: 0px;
	padding: 14px;
	height: 100px;
	overflow-y: hidden;
	font-size: 0;
}
#header div a#logo img {
	height: 100px;
	width: 100px;
	float: left;
}
#header div ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}
#header div ul li:first-child {
	border-left: none;
}
#header div ul li {
	max-width: 108px;
	padding: 20px 10px;
	margin: 0;
	height: 60px;
	border-left: 1px solid white;
	text-align: center;
	display: inline-block;
	font-size:18px;
	vertical-align: middle;
}
#header div ul li a {
	line-height: 100%;
	color: yellow;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
}
#header div ul li.selected a, #header div ul li a:hover {
	color: red;
}
#header div ul li a.button, button {
	background-color: red;
	border: none;
	color: white;
	border-radius: 10px;
	text-align: center;
	padding: 8px 14px;
}
#header div ul li a.button:hover, button:hover {
	background-color: darkred;
}
