html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	position: relative;
	overflow: auto;
}
body {
	margin: 0 0 171px;
	padding: 0;
	background: black;
}
div {
	margin: 16px;
}
header {
	height: 128px;
	margin: 14px 16px;
	padding: 0px;
	background: #404040;
}
header div {
	margin: 0px;
	padding: 14px;
	height: 100px;
	overflow-y: hidden;
	font-size: 0;
}
header div img {
	height: 100px;
	width: 100px;
	float: left;
}
header div ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}
header div ul li:first-child {
	border-left: none;
}
header div ul li:last-child {
	padding-right: 0;
}
header div ul li {
	max-width: 108px;
	padding: 10px;
	margin: 0;
	height: 80px;
	line-height: 80px;
	border-left: 1px solid white;
	text-align: center;
	display: inline-block;
	font-size:18px;
}
header div ul li a {
	display: inline-block;
	line-height: normal;
	color: yellow;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
}
header div ul li.selected a, header div ul li a:hover {
	color: red;
}
header div ul li a.button, button {
	background-color: red;
	border: none;
	color: white;
	border-radius: 10px;
	text-align: center;
	padding: 8px 14px;
}
header div ul li a.button:hover, button:hover {
	background-color: darkred;
}
footer {
	margin: 16px;
	background: #404040;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
footer div {
	margin:0 auto;
	padding: 14px;
}
footer div div {
	border-left:1px solid #fff;
	margin: 5px;
	padding: 0 20px;
	width: 300px;
	float: left;
}
footer div div:first-child {
	border:0;
	padding: 0;
}
footer div div span {
	color: yellow;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
}
footer div div ul {
	list-style: none;
	margin-top: 5px;
	padding: 0;
}
footer div div.connect span {
	margin-left: 10px;
}
footer div div.connect ul li a {
	margin: 10px;
	float: left;
}
footer div div.connect ul li a img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}	
footer address {
	color: white;
}
.flex-container {
	display: flex;
	margin: 0;
}
.panel h1 {
	display: block;
	margin: 0;
	background-color: yellow;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	text-align: left;
	padding: 5px;
	font-size: 18pt;
	line-height: 36px;
}
.panel div, article {
	margin: 0;
	background-color: white;
	color: black;
	padding: 15px;
	overflow: auto;
}
.panel div div {
	padding: 0;
}
.panel h2 {
	text-decoration: none;
	font-size: 16pt;
	color: red;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.panel a {
	text-decoration: none;
	color: red;
	font-weight: normal;
}
.panel a:hover {
	color: darkred;
}
.panel ol {
	margin: 0;
	padding: 20px;
}
.panel ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.panel li a {
	color: black;
}
.panel p {
	margin: 0;
	padding: 0;
}
.panel img {
	float: left;
	margin: 10px;
}
#login {
	margin: 20px 50px;
}
#login * {
	text-align: center;
	margin: 0 auto;
}
.slideshow-container {
	position: relative;
	height: 400px;
	padding: 0;
	margin: 0;
}
.slide {
	margin: 0;
	padding: 0;
	display: none;
}
.slide img {
	max-width: 100%;
	margin: 0;
}

